[Unit]
Description=RP6 kernel sleep preparation and recovery
Before=sleep.target
StopWhenUnneeded=yes
ConditionPathExists=/usr/lib/konkr/konkr-sleep

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/bin/sh -c '[ ! -e /var/lib/konkrd/sleep-standby ] && { [ -e /var/lib/konkrd/sleep-s2idle ] || [ -e /run/konkr/s2idle ]; }'
ExecStart=/usr/lib/konkr/konkr-sleep pre
ExecStopPost=/usr/lib/konkr/konkr-sleep post
TimeoutSec=90

[Install]
WantedBy=sleep.target
